{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Edit Intervention{% endblock %}

{% block body %}
       <section class="mb-5 text-aligne-center">
        <img class="w-100" src="{{ asset('build/images/moissonneuse2.jpg') }}" alt="image cuma"/>
    </section>
    <div class="container">
        <h1>Modification intervention</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}



             <div class="d-flex justify-content-between m-sm-5 mt-5">
                <a href="{{ path('intervention_index') }}" class="btn btn-light">Retour</a>
                <button class="btn btn-light">{{ button_label|default('Enregistrement') }}</button>
            </div>
        {{ form_end(form) }}

        {{ include('intervention/_delete_form.html.twig') }}
    </div>
{% endblock %}
