{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
    <h1>Intervention index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Aera</th>
                <th>Weight</th>
                <th>Comment</th>
                <th>DateIntervention</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.id }}</td>
                <td>{{ intervention.aera }}</td>
                <td>{{ intervention.weight }}</td>
                <td>{{ intervention.comment }}</td>
                <td>{{ intervention.dateIntervention ? intervention.dateIntervention|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('intervention_show', {'id': intervention.id}) }}">show</a>
                    <a href="{{ path('intervention_edit', {'id': intervention.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('intervention_new') }}">Create new</a>
{% endblock %}
