{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
<section class="mb-5">
        <img class="w-100" src="{{ asset('build/images/moissonneuse2.jpg') }}" alt="image cuma"/>
    </section>
    <div Class="container">
        <h1>Intervention index</h1>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Utilisateur</th>
                    <th>Matériel</th>
                    <th>Surface</th>
                    <th>Tonnage</th>
                    <th>Commentaire</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for intervention in interventions %}
                    <tr>
                        <td>{{ intervention.dateIntervention ? intervention.dateIntervention|date('Y-m-d') : '' }}</td>
                        <td>{{ intervention.user.userDetails.lastname }}</td>
                        <td>{{ intervention.material.name }}</td>
                        <td>{{ intervention.aera }}</td>
                        <td>{{ intervention.weight }}</td>
                        <td>{{ intervention.comment }}</td>
                        <td>
                            <a href="{{ path('intervention_edit', {'id': intervention.id}) }}" class="text-light">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('admin_home') }}" class="btn btn-light">Retour</a>
    </div>
{% endblock %}
