<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/logo_cuma.jpeg') }}"/>
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
		<title>
			{% block title %}Projet 3 Name{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
        {% block navbar %}
            <section class="section-navbar mt-2 mb-5">
                <nav class="navbar navbar-expand navbar-light bg-$secondary">
                    <a class="navbar-brand ms-4" href="{{ path('home') }}"><img class="img-logo" src="{{ asset('build/images/logo_cuma.jpeg') }}" alt="logo Cuma"/></a>
					{% if is_granted("ROLE_ADMIN") %}
                    	<li class="nav-item m-1">
							<a class="nav-link active text-light" href="{{ path('admin_home') }}">ADMINISTRATION</a>
						</li>
					{% endif %}

                    <div class="collapse navbar-collapse justify-content-end me-4" id="navbarSupportedContent">
                        {% if app.user %}
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Bonjour {{ app.user.userdetails.firstname }}</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('user_details_edit', {'id': app.user.userdetails.id}) }}">Compte</a>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}" class="text-light"> Se déconnecter</a>
                                </li>
                            </ul>
                        {% else %}
                             <a href="{{ path('app_login') }}" class="text-light"> Se connecter</a>
                        {% endif %}
                    </div>
                </nav>
            </section>
        {% endblock %}
        {% for category, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ category }} text-center">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

        {% block body %}{% endblock %}
	</body>
</html>
